@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-optical-sizing: auto;
  font-size: 18px;
}

@supports (font-size-adjust: 1) {
  :root {
    font-size-adjust: 0.5;
  }
}

#body {
  min-height: 100dvh;
  display: flex;
  flex-flow: column;
}

footer {
  font-size: 0.75rem;
}

.link {
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-line: underline;
  text-underline-offset: 0.15rem;

  &:hover {
    text-decoration-thickness: 2px;
  }
}

.article {
  max-width: 70ch;
}

.cc_image {
  width: 0.75rem;
}

.cutAfterFourRows {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  transition: all 200ms;
}

.navigation-button {
  position: relative;

  text-decoration-thickness: 2px;
  text-decoration-color: transparent;
  text-decoration-line: underline;
  text-underline-offset: 0.15rem;

  transition: text-decoration-color 300ms;

  &:hover {
    text-decoration-color: initial;
  }
}

h1 {
  font-size: 2rem;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
  font-weight: 600;
}

h6 {
  font-size: 0.75rem;
  line-height: calc(1ex / 0.32);
  font-weight: 600;
}

// ==========================================
// Transitions
// ==========================================

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
  overflow: hidden;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0);
  height: 0;
  overflow: hidden;
}

.scale-enter-to,
.scale-leave-from {
  height: 1.75rem;
}

.scale-card-enter-active,
.scale-card-leave-active {
  transition: all 0.5s ease;
  overflow: hidden;
}

.scale-card-enter-from,
.scale-card-leave-to {
  opacity: 0;
  transform: scale(0);
  height: 0;
  overflow: hidden;
}

.scale-card-enter-to,
.scale-card-leave-from {
  height: 13rem;
}
